/*========== PROPIEDADES GLOBALES ===========*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*========== MENU ===========*/
#mi-menu a, button {
    font-size: 18px !important;
    font-weight: 600;
}

#mi-menu a {
    color: #3f3f3f;
}
/*========== SLIDER ===========*/
.carousel-inner {
    max-height: 39rem !important;
}

/*========== MediaQuery para pantallas SM ===========*/
@media(max-width: 768px){
    #intro {
        width: 90% !important;
        margin: auto;
    }
}